body {
	width: 100%;
	height: 100vh;
	background-color:black;
}

#logo {
	position:absolute;
	left:0px;
	top:0px;
	height:30px;
	width:98px;
	margin-top: 20px;
	margin-left:20px;
}

#container {
	z-index:2000;
	height: 20%;
}

canvas {
	height: 80%;
	bottom:0px;
}

#notice {
    position: relative 
    color:white;
    height:100%;
    font-style: italic;
    width:10%;
}

#notice p {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
    font-size:15pt;
>>>>>>> Stashed changes
}